/* 
Dark Purple: #1F1F3C
Medium Purple: #A8AAD2
Light Purple: #EAEAF4
White: #FFFFFF 
*/



* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    margin: 0;
}

#idea-box {
    background-color: #1F1F3C;
    color: white;
    width: 25vw;
    height: 99.3vh;
    font-size: 57pt;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

#input-ideas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1
}

.input {
    background-color: #A8AAD2;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
   }
#title{
    width: 990px;
    height: 30px;
    margin-left: 9px;
    font-size: large;
    font-weight: 300;
    border-color:#1F1F3C;
}
#body{
    width: 990px;
    height: 90px;
    font-size: large;
    font-weight: 300;
    border-color: #1F1F3C;
}
button{
    background-color: #1F1F3C;
    color: white;
    width: 999px;
    height: 75px;
    margin-left: 39px;
    font-size:large;
    font-weight: 600;
}

#ideas {
    height: 200px;
    background-color: #EAEAF4;
    flex-grow: 1;   
}

