/* 
Dark Purple: #1F1F3C
Medium Purple: #A8AAD2
Light Purple: #EAEAF4
White: #FFFFFF 
*/



* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    margin: 0;  
}

#idea-box {
    background-color: #1F1F3C;
    color: white;
    width: 358.5px;
    height: 99.3vh;
    font-size: 57pt;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    flex-shrink: 0
    
}

#input-ideas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1
}

.input {
    background-color: #A8AAD2;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
   }
#title{
    width: 953px;
    height: 30px;
    margin-left: 9px;
    border-color:#1F1F3C;
    border-width: thick;
}
label{
    font-size: 16.5pt;
    font-weight: 500;
}
#body{
    width: 953px;
    height: 90px;
    border-color: #1F1F3C;
    border-width: thick;

}
button{
    background-color: #1F1F3C;
    color: white;
    width: 967px;
    height: 75px;
    margin-left: 50px;
    font-size:xx-large;
    font-weight: 600;
}

#ideas {
    height: 200px;
    background-color: #EAEAF4;
    flex-grow: 1;   
    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow: auto;

}

.idea-containers {
    
    border-color:#1F1F3C;
    border-width: thick;
    border-style: solid;
    
    height: 80%;
    width: 270px;
    
    display: flex;
    flex-direction: column ;
    text-align: center;
    
    font-size: 16.5pt;

    position: relative;
    margin-left: 35px;
    margin-right: 35px;
  
}

.delete-icon {
    display: flexbox;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    width: 66px;
    padding: 0;
    margin: -5px;

} 

.purple-box {
    display:flex;
    justify-content:space-between;
    width: 100%;
    height: 55px;
    background-color: #1F1F3C;

}

.title-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    

    



.disabled {
    background-color: #ddd; /* Lighter color when disabled */
    cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}
